* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-align: center;
    background-color:rgb(49, 49, 49)
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5px;
}

button {
    height: 50px;
    width: 100px;
    color: rgb(95, 95, 95);
    border-radius: 10px;
    margin: 2px;
    padding: 5px;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 2px 2px 2px black;
}

.cells {
    height: 400
}
